<!--this is a placeholder for system messages across different pages-->
<div ng-controller="JumbotronTemplateController">
    <div ng-include="'layout/jumbotronTemplate.html'" ng-show="showJumbotronTemplate">
    </div>
</div>
<!--this is for the current page; content goes to here-->
<div ng-controller="ListsController">
    <h2>{{ message }}</h2>
   
    <!--table begin-->
    <div class="table-responsive row">
        <h3>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </h3>
        <!--to do: add sorting ability to the bootstrap table per column-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>desc</th>
                    <th>name</th>
                    <th>shortLink</th>
                    <th>dateLastActivity</th>
                    <th>closed</th>

                </tr>
            </thead>
            <tbody ng-repeat="h in trelloBoards.boardsResponse | orderBy:'-closed' | filter:{closed:false}">
                <tr>
                    <td>{{h.desc}}</td>
                    <td><a target="_blank" href="{{h.url}}">{{h.name}}</a></td>
                    <td><a href="#/list/{{h.id}}">This Board's Lists {{h.id}}</a></td>
                    <td>{{h.dateLastActivity}}</td>
                    <td>{{h.closed}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <!--table end-->
</div>