<div ng-controller="JumbotronTemplateController">
    <div ng-include="'layout/jumbotronTemplate.html'" ng-show="showJumbotronTemplate">
    </div>
</div>
<div ng-controller="ContactController">
    <h2>{{ message }}</h2>
    <h3><a href="mailto:backupcenter7+rqhyy9o4syndndqdsn08@boards.trello.com">Email us to our Trello Board</a></h3>
    <p>we use trello board to manage features. see your requests status here: 
        <a target="_blank" href="https://trello.com/b/sAVD1eni/test-backup-center#">Trello Board</a>
    </p>
</div>